
/* keeping overflow in control */
* {
    box-sizing: border-box;
  }

  * {
    background-color: #D0D7DB;
  }

  /* home page */
/* nav bar */
    .menu { 
     padding: 5%;
     background-color: #D0D7DB;
    
    }

  /* breaking the list */
    nav{
    width: 100%;
   
     list-style-type: none;
     display: inline-flex; 
      padding: 0% 2%; 
      
    }

  .title {
    margin: 10% 5%;
  }

   .navHome, .navPort, .navCon, .navAbt, .navResum{
      margin: 10% 30%;
      width: 100%;
      color: black;
    }

    nav a {
      text-decoration: none;
      font-size: 24px;
      font-family: monospace;
      color: black;
        }

  /* formatting body */
  .flex-container{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-around;
  }
