
/* keeping overflow in control and styling html doc */
* {
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}
/* 
.bg{
  background-image: url("/src/imgs/piano-g51b451e93_1280.jpg");
} */

/* animation */
body::-webkit-scrollbar {
  display: none;
}


/* attempted at video background or hero image 
Update: successful :)
but now some of my things r broken T~T
tears*/


.bg{
  width:100%; 
  height:auto 
}

.videoContainer{
  width:100%; 
  margin:auto; 
  display:block; 
  position: relative;
}

.videoOverlay{
  position: absolute; 
  top: 0; left: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* nav bar */
.navi{
  margin-left: 6%;
}

.menu {
  padding: 5%;
  background-color: transparent;

}

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  margin: 6vh 8vh 5vh 11vh;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #bfd0e0d2;
  margin-left: 2vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdownContent a {
  color: white;
  padding: 2vh;
  text-decoration: none;
  display: block;
  
}

.dropdownContent a:hover {
  background-color: #c4d0db
}

.dropdown:hover .dropdownContent {
  display: block;
  
}

/* breaking the list */


nav {
  width: 100%;
  list-style-type: none;
  display: inline-flex;
  padding: 0% 2%;
  color: rgb(255, 255, 255);

}

/* creatin the underlined animation */
nav a{
  /* deals with the color of underline and position */
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  position: relative;
}

nav a:after{
  /* deals with the animation portion */
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}


nav a:hover:after { 
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* done with line animations */

.title {
  margin: 10% 5%;
 color: white;
}

.navResum {
  margin-left: 5vh;
  
}

.navHome,
.navPort,
.navCon,
.navAbt,
.navResum {
  margin: 10% 40%;
  width: 100%;
  color: rgb(255, 255, 255);

}

nav a {
  text-decoration: none;
  font-size: 24px;


}

/* formatting hero */
.flex-container {
  background-color: #D0D7DB;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* animation (header or hero)*/
.animation {
  color: white;
  height: 30vh;
}

.hero{
  color: white;
  margin-top: 11%;
}


.welcome{
  height: 30vh;
  color: white;
}


.logo {
 color: white;
  font-size: 6em;
  padding: 0 0.3em;
  display: block;
  ;
}

/* styling the words itself */
.firstName {
  background-color: transparent;
  margin: 3% 7% 0%;
  color: white;
  
}

.lastName {
  margin: 0% 7% 0%;
  background-color: transparent;
  color: white;

}

/* actual animations, the keyframe setting */

.logo {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 3s;
  -moz-animation-name: fadein;
  -moz-animation-duration: 3s;
  -ms-animation-name: fadein;
  -ms-animation-duration: 3s;
  -o-animation-name: fadein;
  -o-animation-duration: 3s;
  animation-name: fadein;
  animation-duration: 3s;

}



/* home page body */
/* animations for the summary */
.quest {
  margin: 0% 10% 0%;
  background-color: transparent;
  color: white;

}

.summary {
  margin: 0% 10% 0%;
  color: white;
  background-color: transparent;

}

/* actual animations, the keyframe setting */

.welcome {
  background-color: transparent;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 3s;
  -moz-animation-name: fadein;
  -moz-animation-duration: 3s;
  -ms-animation-name: fadein;
  -ms-animation-duration: 3s;
  -o-animation-name: fadein;
  -o-animation-duration: 3s;
  animation-name: fadein;
  animation-duration: 3s;
}

@-webkit-keyframes fadein {

  /* negative fades in from left and positive fades in from right */
  0% {
    opacity: 0;
    margin-left: -30%;
  }

  40% {
    opacity: 1;
    margin-left: -30%;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -30%;
  }

  0% {
    opacity: 1;
    margin-left: -30%;
  }
}

@-ms-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -30%;
  }

  0% {
    opacity: 1;
    margin-left: -30%;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -30%;
  }

  0% {
    opacity: 1;
    margin-left: -30%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -30%;
  }

  /* this bottom margin is how far off the screen the animation reaches */
  0% {
    opacity: 1;
    margin-left: -30%;
  }
}

/* formatting the summary portion*/
.summary a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.summary {
  background-color: transparent;
  font-size: large;
}


/* body (actual hyperlinks)*/

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* spaces out all 4 boxes */
  margin-top: 3%;
} 


.pot{
  height: 53vh;
  width: 70vh;
  
}

a{
 text-decoration: none; 
 color: rgb(255, 255, 255);
}
  
.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 90%;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  padding-bottom: 6%;
}

.middle {
  font-size: 5vh;
  transition: .5s ease;
  opacity: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 1%;
}

.container:hover .image {
  opacity: 25;
}

.container:hover .middle {
  opacity: 100%;
}



/* abt page */
.intro{
  margin: 0% 9% 7% 10%;
  font-size: 3vh;
  color: #ffffff;
  background-color: #313941bd;
  padding: 5%; 
}

.huro{
width: 100%;
}

/* attempt at an image caro */

/* other */
.otherInfo{
  width: 100%;
  font-size: 2em;
  margin-top: 3%;
  padding: 5% 42%;
  color: #fff;
  height: 20vh;
  background-color: #bdcbd8;
}

/* animation */
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.p{
  width: 70%;
  height: 40%;
  margin-top: 3%;
  background-color: #1e3f8525;
}

.pboxes{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0% 3% 0% 2%;
  padding-left: 15%;
}

.pcontainer{
  position: relative;
  width: 100%;
  height: 35vh;
  margin-top: 5vh;
}


.pcontainer > img {
  position: absolute;
  top: 0;
  padding-left: 4%;
  padding-bottom: 4%;
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

.pbg{
  width: 100%;
  height:100vh;
  opacity: 90%;
}

.pictureContainer{
  width:100%; 
  margin:auto; 
  display:block; 
  position: relative;
}

.pictureOverlay{
  position: absolute; 
  top: 0; left: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.imgTxt{
margin-left: 20%;
padding: 4%;
font-size: 2vh;
color: #fff;
}


/* resume pg */ 
.link{
  padding-left: 40%;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.resumee{
  padding: 5% 5% 5% 10%;
  margin-left: 15%;
  margin-top: 5%;
  width: 70%;
  font-size: 2vh;
  color: #fff;
  background-color: #bdcbd8;
}

.lor{
  padding: 9%;
  margin-left: 15%;
  width: 70%;
  color: #fff;
  margin-top: 5%;
  font-size: 2vh;
  background-color: #bdcbd8;
}

.holder{
  height: 90vh;
}

/* portfolio page */
.porbg{
  width: 100%;
  height: auto; 
  overflow: hidden;
}


/* chronoshift */
.pjText{
  background-color: #bdcbd8;
  padding: 1%;
  width: 90%;
  margin: 5% 0% 5% 5% ;
  color: #fff;
  font-size: 1.5em;
}

/* image caro */


/* contact form */
h1{
  text-align: center;
}
.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #82a6bd;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #90acbd;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}

.bod{
color: white;
display: flex;
flex-direction: row;
}

.socialMedia{
  font-size: 2em;
  background-color: #a7bac7;
  margin: 4%;
  padding-top: 4%;
  width: 45%;
  height: 23rem;
}

/* image caro */



/* footer */

/* abt pg footer */
.footer {
  margin: 3% 0%;
  height: 10vh;
  width: 100%;
   display: flex; 
  flex-direction: row;
}

footer {
  height: 10vh;
  width: 100%;
   display: flex; 
  flex-direction: row;
  margin: 3% 0% 2% 2%;
}

.begfoot{
  margin-left: 11%;
}

/* hyperlink for footer */
.endFoot {
  margin-left: 20%;
}

.endFoot a{
  text-decoration: none;
  color: #000;
  width: 10vh;
}

/* icons for footer */
.iconFoot{
  margin-left:20%;  
}

ul {
  display: flex;
  position: absolute;
  padding: .5%;
  /* top: 100%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

ul li {
  list-style: none;
}

ul li a {
  width: 4vh;
  height: 3vh;
  text-align: center;
  font-size: 2vh;
  margin: 0 1vh;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  /* color of the icon */
  /* color: #262626; */
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #3b5999;
}

ul li:nth-child(2) a:before{
  background: #55acee;
}

ul li:nth-child(3) a:before {
  background: #0077b5;
} */

/* categories in footer */
.header a{
  text-decoration: none;
  color: #000;
}

.resume a{
  text-decoration: none;
  color: #000;
}


.portfolio a{
  text-decoration: none;
  color: #000;
}


.aboutMe a{
  text-decoration: none;
  color: #000;
}


/* MEDIA QUERIES THAT WONT WORK */
/* TABLET */
@media screen and (max-width: 992px){
  

}


/* PHONW   */
@media screen and (max-width: 480px) {
  

 }



